
main {
max-width: var(--desktop-width);
padding: 0 2rem 1rem 2rem ;
}

header {
  max-width: var(--desktop-header-width);
}

.box-container {
  display: grid;
  grid-template-areas:
    "superv  team calc"
    "superv  karma calc";
  justify-content: center;
  align-items: center;
  grid-gap: 1.5rem;
}

.boxes {
  margin: 0;
}

.supervisor {
  grid-area: superv;
}
.team-builder {
  grid-area: team;
}
.karma {
  grid-area: karma;
}
.calculator {
  grid-area: calc;
}

